ion-card {
    background-color: #8fd441;
    p {
        color:rgba(0, 0, 0, 0.541)
    }
}

ion-slides {
    height: 250px;
    --bullet-background-active: #9bff00;
    --bullet-background: #f7ffea;
}
